<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

        <!--整合mybatis -->
        <context:property-placeholder location="classpath:jdbc.properties"/>

        <!--数据库配置-->
        <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
            <!-- 配置连接池属性 -->
            <property name="driverClass" value="${jdbc.driver}"/>
            <property name="jdbcUrl" value="${jdbc.url}"/>
            <property name="user" value="${jdbc.username}"/>
            <property name="password" value="${jdbc.password}"/>

            <!-- c3p0连接池属性 -->
            <property name="maxPoolSize" value="30"/>
            <property name="minPoolSize" value="10"/>
            <!-- 关闭连接池时不自动提交 -->
            <property name="autoCommitOnClose"  value="false"/>
            <!-- 获取连接超时时间 -->
            <property name="checkoutTimeout"  value="10000"/>
            <!-- 当前连接失败重试次数 -->
            <property name="acquireRetryAttempts"  value="2"/>
        </bean>

        <!--sqlfactory配置-->
        <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
            <property name="dataSource" ref="dataSource"/>
            <!-- 配置mybatis-config.xml -->
            <property name="configLocation" value="classpath:mybatis-config.xml"/>
            <!-- 扫描entity包,使用别名 -->
            <property name="typeAliasesPackage" value="cn.zzu.entity"/>
            <!-- 扫描sql配置文件:mapper需要的配置文件 -->
            <property name="mapperLocations" value="classpath:mapper/*/*.xml"/>
        </bean>

        <!--扫描dao-->
        <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
            <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
            <property name="basePackage" value="cn.zzu.dao"></property>
        </bean>
</beans>